.backgroundImg {
   width: 100%;
   position: fixed;
   z-index: -99;
   opacity: 0.7;
}

.clickSq {
     width: 150px;
    height: 200px;
    background-color: black;
    border: 2px solid pink;
    opacity: 0.9;
}



.correct {
    background-color: green ;
    border: 2px solid black;
}

.incorrect {
    background-color: red;
    border: 2px solid black;
}